@import './base.css';

/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root{
  --background--color: #f6f6f6;
  --txt-dark-:#212121;
  --txt-gray-:#333333;
  --primary-blue-:#0257FF;
  --color--yellow-:#FFF600;

}
body{
  background-color: var(--background--color);
}

