@import './base.css';

:root{
  --background--color: #f6f6f6;
  --txt-dark-:#212121;
  --txt-gray-:#333333;
  --primary-blue-:#0257FF;
  --color--yellow-:#FFF600;
}
body{
  background-color: var(--background--color);
}
